.App {
  text-align: center;
}
.main-bg{
  height: 750px;
  background-image: url("../public/img/main.jpg");
  background-repeat: no-repeat;
}
img{
  height: 400px;
  width: 80%;
}

.start {
   opacity: 0; 
  /* transform: 1; */
}

.end{
  opacity: 1;
  transition: opacity 1s;
  /* transform: scale(0);
  transition: all; */
}