div{ /* div는 무조건 root를 의미 : <*></> , <div></div>, <Fragment></Fragment>*/
  background-color: rgb(135, 187, 255);
  color : white;
  padding: 50px;
  text-align: center;
}
h1{
  color:darkblue;
}
h3{
  color: rgb(190, 156, 255);
}
.class1{
  border: 2px dotted whitesmoke;
}
#id1{
  color: darkgray;
}